/* Font */
@font-face {
  font-family: "Zpix";
  src: url("./fonts/Zpix.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color Palette */
:root {
  --bg: #9eb19c;
  --h-title: #181a18;
  --c-bg: #9eb19c;
  --c-text: #181a18;
  --c-btn-bg: #64775ff0;
  --c-btn-shadow: #3d4a3af0;
  --c-btn-text: #bbcdb2;
  --t-bg: #9eb19c;
  --t-text: #181a18;
  --t-text-placeholder: #3d4a3af0;
}

/* Global Styles */
* {
  box-sizing: border-box;
  font-family: "Zpix", monospace;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--c-text);
  padding: 0;
  overflow: hidden;
}

.page {
  background: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 100% 3px;
  display: none;
  justify-content: center;
  /* align-items: center; */
  height: 100dvh;
  width: 100vw;
  border: 5px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.page.active {
  display: flex;
}

.phone {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow-y: auto;
}

.logo {
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  text-align: center;
  opacity: 0.6;
}

.nes-btn {
  background-color: var(--c-btn-bg);
  color: var(--c-btn-text);
}

.nes-btn::after {
  box-shadow: inset -4px -4px var(--c-btn-shadow);
}

.nes-input,
.nes-textarea,
.nes-select select {
  background-color: var(--t-bg);
  color: var(--t-text);
}

input::placeholder {
  color: var(--t-text-placeholder);
}

textarea::placeholder {
  color: var(--t-text-placeholder);
}

textarea {
  resize: none;
  height: 60px;
}

.card {
  background: #ffcc00; /* Bright yellow for card */
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: "Zpix", monospace;
}

canvas {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}

.pixeldraw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/*  float 抖动 像素
li.other .words {
  letter-spacing: 2px;
  animation: float 1.5s infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2px);
  }
} */
